@inherits LayoutComponentBase
@using BlazorApp2.Components.Navigation

@code {
    bool SidebarOpen;
    bool EcommerceOpen;

    void ToggleSidebar() => SidebarOpen = !SidebarOpen;
    void CloseSidebar() => SidebarOpen = false;
    void ToggleEcommerce() => EcommerceOpen = !EcommerceOpen;
}

<div class="page">

    <button type="button"
            class="text-heading rounded-base ms-3 mt-3 box-border inline-flex border border-transparent bg-transparent p-2 text-sm font-medium leading-5 hover:bg-neutral-secondary-medium focus:ring-neutral-tertiary focus:outline-none focus:ring-4 sm:hidden"
            @onclick="ToggleSidebar">

        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" fill="none">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                  d="M5 7h14M5 12h14M5 17h10" />
        </svg>
    </button>

    <Sidebar IsOpen="SidebarOpen" OnClose="CloseSidebar" />
    
    @if (SidebarOpen)
    {
        <div class="fixed inset-0 z-30 bg-black/30 sm:hidden"
             @onclick="CloseSidebar"></div>
    }

    <div class="p-4 sm:ml-64">
        <article class="content px-4">
            @Body
        </article>
    </div>

</div>
