@page "/auth/login"
@layout GuestLayout

<form class="mx-auto max-w-sm rounded-lg p-4 shadow-md shadow-slate-300" action="/">
    <div class="mt-6 flex justify-center p-4">
        <img src="./panasonic.png" class="w-[150px] lg:w-[200px]" alt="Alternate Text" />
    </div>
    <h2 class="mb-12 text-center text-lg font-semibold">Sign in to your account</h2>
  <div class="mb-5">
    <label for="email" class="text-heading mb-2.5 block text-sm font-medium">Your email</label>
    <input type="email" id="email" class="bg-neutral-secondary-medium border-default-medium text-heading rounded-base block w-full border px-3 py-2.5 text-sm shadow-xs placeholder:text-body focus:ring-brand focus:border-brand" placeholder="name@flowbite.com" required />
  </div>
  <div class="mb-5">
    <label for="password" class="text-heading mb-2.5 block text-sm font-medium">Your password</label>
    <input type="password" id="password" class="bg-neutral-secondary-medium border-default-medium text-heading rounded-base block w-full border px-3 py-2.5 text-sm shadow-xs placeholder:text-body focus:ring-brand focus:border-brand" placeholder="••••••••" required />
  </div>
  <label for="remember" class="mb-5 flex items-center">
    <input id="remember" type="checkbox" value="" class="border-default-medium bg-neutral-secondary-medium h-4 w-4 rounded-xs border focus:ring-brand-soft focus:ring-2" required />
    <p class="text-heading ms-2 text-sm font-medium select-none">I agree with the <a href="#" class="text-fg-brand hover:underline">terms and conditions</a>.</p>
  </label>
    <button type="submit" class="rounded-base box-border border border-transparent bg-[var(--panasonic)] px-8 py-2 text-sm leading-5 font-medium text-white shadow-xs hover:bg-[var(--panasonic-dark)] focus:ring-brand-medium focus:ring-4 focus:outline-none">Login</button>
</form>


@code {

}
