@page "/"
@inherits FlowbitePage

<PageTitle>Home</PageTitle>



<div class="bg-neutral-primary-soft border-default rounded-base shadow-xs block max-w-sm border p-6">
    <svg class="text-body mb-3 h-7 w-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z" /></svg>
    <a href="#">
        <h5 class="text-heading mb-2 text-2xl font-semibold tracking-tight">Testing</h5>
    </a>
    <p class="text-body mb-3">Go to this step by step guideline process on how to certify for your weekly benefits:</p>
    <a href="#" class="text-fg-brand inline-flex items-center font-medium hover:underline">
        See our guideline
        <svg class="ms-2 h-4 w-4 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778" /></svg>
    </a>
</div>
